/* Overley */
.overley {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	background: rgb(0, 0, 0, 0);
	z-index: 9999;
	transition: 1s;
	text-align: center;
	padding: 100px;
}

.overley:target {
	width: auto;
	height: auto;
	left: 0;
	right: 0;
	background: rgb(0, 0, 0, .6);
}

.overley img {
	max-height: 100%;
	box-shadow: 2px, 2px, 8px rgb(0, 0, 0, .5);
}

.overley:target img {
	animation: zoomDanFade 1s;
}

.overley .close {
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: -20px;
	color: white;
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	line-height: 18px;
	padding: 5px;
	opacity: 0;
}

.overley:target .close {
	animation: slideDownFade .5s .5s forwards;
}

/* Animasi */
@keyframes zoomDanFade {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slideDownFade {
	0% {
		opacity: 0;
		margin-top: -20px;
	}

	100% {
		opacity: 1;
		margin-top: 0;
	}
}
